/Practica3-1/nbproject/private/
/Practica3-1/build/
/Actividad4/nbproject/private/
/Actividad4/dist/
/Actividad4/build/
/Practica5/nbproject/private/
/Practica5/build/
/Practica6/nbproject/private/
/Practica6/build/